/Data
/Data_1
/Data_2
/Data11
/Data_notworking
/custom_data
/_Archive_Data
/DataTest
/Models
/Checkpoints
/New folder (5)
*.h5
*.jpg
*.jpeg
*.png


/DataTest
/DataTest2
/DataTestTemp/

_Raw_Zip_Data/

\.ipynb_checkpoints/

*.rda

~\$cumentation\.docx

~\$roupReport\.docx

_GroupReport/~WRL0238\.tmp

*.rdata

*.hdf5
